.card-description {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1em;
  background-color: #12121C;
}

.card-description::-webkit-scrollbar, 
.textarea-todo::-webkit-scrollbar {
  width: 7px;
}

.card-description::-webkit-scrollbar-track, 
.textarea-todo::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 10px;
}

.card-description::-webkit-scrollbar-thumb, 
.textarea-todo::-webkit-scrollbar-thumb {
  background: #b97c7c;
  border-radius: 10px;
}

.card-description::-webkit-scrollbar-thumb:hover, 
.textarea-todo::-webkit-scrollbar-thumb:hover {
  background: #9b6a6a;
}

.card-item {
  background-color: #191927;
  border: 1px solid #8A8181;
  color: #8A8181;
  border-radius: 14px;
  padding: 1em;
  height: 325px;
  overflow: hidden;
}

.card-edit-description {
  margin-top: 1em;
  max-height: 200px;
  overflow-y: auto;
}

.card-edit-description p {
  font-size: 15px;
}

.card-no-description {
  color: #8A8181; 
  font-size: 20px; 
  text-align: center; 
  padding: 50px;
  border: 1px solid #8A8181;
  border-radius: 14px;
  height: 249px;
}

.card-btn {
  display: flex;
  justify-content: space-between;
}

.input-todo, .textarea-todo {
  width: 349px;
  background-color: #12121C;
  color: #8A8181;
  border: 1px solid #8A8181;
  border-radius: 14px;
  padding: 10px;
}

.card-title h2 {
  font-size: 20px;
}

.btn-todo {
  display: flex;
  gap: 10px;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #B97C7C;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #12121C;
  margin-top: 30px;
}

.btn-todo:hover {
  background-color: #9b6a6a;
}