.card-notes {
  background-color: #161621;
  border-right: 1px solid #8A8181;
  overflow-y: auto;
  width: 200px;
  padding: 1em;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.card-notes::-webkit-scrollbar {
  width: 7px;
}

.card-notes::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 10px;
}

.card-notes::-webkit-scrollbar-thumb {
  background: #b97c7c;
  border-radius: 10px;
}

.card-notes::-webkit-scrollbar-thumb:hover {
  background: #9b6a6a;
}

.todo-item {
  background-color: #B97C7C;
  margin-bottom: 15px; 
  padding: 10px; 
  border-radius: 14px;
  cursor: pointer; 
}

.todo-item:hover {
  background-color: #9b6a6a; 
}

.todo-item h2 {
  margin: 0 0 5px 0;
}

.todo-item p {
  margin: 0; 
}

.todo-no-item {
  color: #8A8181; 
  font-size: 20px; 
  text-align: center; 
  padding: 50px;
  border: 1px solid #8A8181;
  border-radius: 14px;
  height: 100%;
}

.not {
  color: #8A8181;
  font-size: 20px;
}